<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="net.bioclipse.scripting.contribution">
      <scriptContribution
            service="org.hivdrc.client.business.HIVDRCManagerFactory"
            id="org.hivdrc.client.business.HIVDRCManager">
      </scriptContribution>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="HIVDRC Category"
            id="org.hivdrc.category">
      </category>
      <view
            name="HIV Protease Susceptibility Result View"
            icon="icons/hiv16.png"
            category="org.hivdrc.category"
            class="org.hivdrc.client.views.HIVPredictionResultView"
            id="net.bioclipse.xmpp.hivpred.views.HIVPredictionResultView">
      </view>
   </extension>

<extension
        point="org.eclipse.ui.commands">
        <category
              id="net.bioclipse.xmpp.hivpred.category"
              name="Hivpred">
        </category>
     <command
           id="net.bioclipse.xmpp.hivpred.invoke"
           categoryId="net.bioclipse.xmpp.hivpred.category"
           name="HivpredPI"/>
     <command
           id="net.bioclipse.xmpp.hivpredrt.invoke"
           categoryId="net.bioclipse.xmpp.hivpred.category"
           name="HivpredNRTI"/>
  </extension>

<extension
        point="org.eclipse.ui.handlers">
     <handler
        class="org.hivdrc.client.actions.PredictPIHandler"
        commandId="net.bioclipse.xmpp.hivpred.invoke">
     </handler>
     <handler
        class="org.hivdrc.client.actions.PredictNRTIHandler"
        commandId="net.bioclipse.xmpp.hivpredrt.invoke">
     </handler>
</extension> 


<extension 
  id="net.bioclipse.xmpp.hivpred.menus"
  point="org.eclipse.ui.menus">
	<menuContribution
           locationURI="popup:net.bioclipse.ui.popup.predict?after=additions">
        <command
              commandId="net.bioclipse.xmpp.hivpred.invoke">
  	      <visibleWhen>
  	 		<iterate operator="and" ifEmpty="false">
      			<or>
      			<adapt type="org.eclipse.core.resources.IResource">
      			<or>
	      			<test property="org.eclipse.core.resources.name" value="*.fasta"/> 
    	  			<test property="org.eclipse.core.resources.name" value="*.seq"/> 
               	</or>
      			</adapt>
      			<adapt type="org.eclipse.jface.text.ITextSelection" />
				</or>
   			</iterate>
        </visibleWhen>
              
        </command>
        
        <command
              commandId="net.bioclipse.xmpp.hivpredrt.invoke">
  	      <visibleWhen>
  	 		<iterate operator="and" ifEmpty="false">
      			<or>
      			<adapt type="org.eclipse.core.resources.IResource">
      			<or>
	      			<test property="org.eclipse.core.resources.name" value="*.fasta"/> 
    	  			<test property="org.eclipse.core.resources.name" value="*.seq"/> 
               	</or>
      			</adapt>
      			<adapt type="org.eclipse.jface.text.ITextSelection" />
				</or>
   			</iterate>
        </visibleWhen>
              
        </command>
     </menuContribution>
</extension>




   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true"/>
   </extension>

</plugin>
